<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button id="share-button" 
      (click)="share()" 
      [disabled]="shared" 
      mat-button>SHARE</button>
      <button id="like-button" 
      (click)="like()" 
      mat-button>LIKE</button>
    </mat-card-actions>
    <p *ngIf="shared"
    class="shared">You have shared this doge</p>
    <p *ngIf="liked"
    class="liked">You have liked this {{likes}} times!</p>
  </mat-card>